hr {
  margin-bottom: 35px;
  margin-top: 25px;
  }
li {
  color: blue;
  }
code { 
  font-family: helvetica;
  }
.caption {
  width: 50%;
  font-style: italic
  }
#most_important {
  background-color: lightgrey;
  width: 200px;
  height: 100px;
  }
p {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
    
