---
title: PGH dataset
---
<!DOCTYPE html>
<html>
 <link rel="stylesheet" type="text/css" href="style.css">
 <head>
  <title>PGH DATASET PROJECT</title>
   <div class="header">
    <center><h2>Steelers' Performance Impact on Steeler Nation</h2>
    <h4>By Max Kimer</h4></center>
   </div>
 </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Max Kimer's PDC Website</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar" class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if page.title == 'Home' %}active{% endif %}">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if page.title == 'Homework' %}active{% endif %}">
        <a class="nav-link" href="/homework">Homework</a>
      </li>
      <li class="nav-item {% if page.title == 'PGH Dataset' %}active{% endif %}">
        <a class="nav-link" href="/PGHdata">PGH Dataset Project</a>
      </li>
      <li class="nav-item {% if page.title == 'skills' %}active{% endif %}">
        <a class="nav-link" href="/SKILLS">Skills Project</a>
      </li>
      <li class="nav-item {% if page.title == 'PGHdata2' %}active{% endif %}">
        <a class="nav-link" href="/PGHdata2">Revised PGH Project</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>   

   <p>Since the NFL’s establishment in 1920 there have been debates, arguments, even fights between followers between teams. On any given Sunday during football season, you could go on social media platforms like Instagram and see fights between home and away fans in the stands posted by sports media outlets like Barstool. This behavior can be seen across all sports, from the World Cup to Jimmy’s dad arguing with an umpire at the local 10-and-under exhibition baseball game. Pittsburgh, known for bleeding black and gold, is notorious for being a difficult city to play in for the away team. According to the Washington Post, Heinz Field is an equally dangerous place for visiting fans to support their teams logging 16.8 arrests per game putting them #5 among all 32 NFL teams [1]. In the new age of technology these incidents rarely go undocumented, Heinz can be a dangerous place for even Steelers fans [2]. 
   </p>
   <p>In recent years the NFL has been increasing stadium security as well as planting more undercover police in the stands to prevent potential fights and riots [3], but what about outside the stadium? Over the past three seasons, 2016-2018, there have been 581 arrests made on days that the Steelers play between the Northshore, Downtown, and Southside, all popular places to tailgate or watch the game with friends at a sports bar. 
   </p>
   </div>
   <br />
   <center>
    <figure>
     <img src="https://safeneighborhoodsnetwork.files.wordpress.com/2010/08/police_zone_map.jpg" height="331px" width="394px" alt="Map of Pittsburgh Police Zones">
     <figcaption>Police Zones: 1. Northshore, 2. Downtown 3. Southside</figcation>
    </figure>
   </center>
   <br />
   <div class="shift">
   <p>As the most winning NFL franchise in terms of championships (6), the Steelers have played great football over the past 18 seasons. During that time period, they have been to the Superbowl three times, winning it twice, made the playoffs 12 times, and posted an under-.500 record only once [4]. Their losses, aside from 2018, are few and far between. 10 of the past 18 seasons the Steelers posted 5 or less losses. 
   </p>
   <p>The Pittsburgh Police Arrest Records show every arrest made by Pittsburgh Police dating back to early 2016 [5]. Over 25000 entries are logged but most arrests, even some on gamedays, were ignored. Mostly within the three zones outlined prior, the records were analyzed based on the time of arrest and description of charges. The arrests logged in the graphics below took place between 10am on gameday to 1am the following morning and the charges relating to intoxicated behavior, including assaults, possession of substances, open containers, and evasion of police. 
   </p>
   </div>
   <br />
   <div>
    <a href="https://plot.ly/~maxkimer/3/?share_key=rLojhJJxiRrOW6YBX0JYKb" target="_blank" title="Plot 3" style="display: block; text-align: center;"><img src="https://plot.ly/~maxkimer/3.png?share_key=rLojhJJxiRrOW6YBX0JYKb" alt="Plot 3" style="max-width: 80%; width: 500px;"  width="500" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="maxkimer:3" sharekey-plotly="rLojhJJxiRrOW6YBX0JYKb" src="https://plot.ly/embed.js" async></script>
   </div>
   <br />
   <div class="shift">
   <p>The results showed that over the past three NFL seasons, there have been more arrests on days the Steelers lost than the days they won. More specifically for each season, there were 1.8, 1.7, and 1.95 times more arrests for a loss than a win for the 2016, 2017, and 2018 seasons, respectively. Given the NFL’s stricter security measures since the release of the Washington Post study in 2016, the trend shows that less fans have been arrested outside the stadium year after year. From 2016 to 2018, the average arrests after wins and losses have decreased by 3 and 4, respectively. Although the main focus of the NFL security was to decrease stadium violence, many teams took measures to ensure the area surrounding the stadium is also properly patrolled. 
   </p>
   <p>Analyzing the home and away game statistics it was determined that despite the outcome, if the Steelers played in Heinz Field there was a higher average of arrests on the day of the game. This may be an obvious discovery given the congregation of 68,000 Steelers fans in one location; however, the difference in arrests was very close. If the Steelers played at Heinz Field there were two more arrests on average per game versus playing at an opposing team’s stadium, independent of the game’s outcome. Due to the close nature of these results they were not included graphically as their own entity, but home/away games are denoted with different symbols and can be seen in the scatter plot at the bottom of the page.
   </p>
   <p>The scatter plot below allows you to see the arrests per game, sorted by wins and losses as well as the Steelers being the home or away team. It includes every regular season and post-season game over the last three seasons, in ascending order by date. Although losses are located on the negative Y-axis, the data represented is positive arrests as a negative arrest is an impossibility. It was built using the Pittsburgh Police Arrest Records dataset, courtesy of the Western Pennsylvania Regional Data Center. 
   </p>
   </div>
   <br />
      <center><img src="scatter.png" width="600px" height="570px" alt="Scatterplot of Arrests/Game Outcome"></center>
   <br />
   <p>*Steelers vs. Browns on 9/9/18 was not used as a data point as it concluded in a tie. That singular point was removed as an outlier as it gave no insight into the arrests of wins and losses. If the Steelers tie more in future seasons, the graphic will be altered to account for arrests for tied games. For transparency, 7 people were arrested on that gameday, making it roughly even to arrests after a win in 2018.
   </p>
   <p>**2018 Week 17 win was considered a loss due to the Steelers being eliminated from the playoffs directly after; this specific situation is considered to carry the same emotional impact as a loss.
   </p>
   <hr>
   <h3>Endnotes</h3>
    [1] <a href="https://www.washingtonpost.com/sports/redskins/a-quietly-escalating-issue-for-nfl-fan-violence-and-how-to-contain-it/2016/10/28/4ec37964-9470-11e6-bb29-bf2701dbe0a3_story.html?noredirect=on&utm_term=.3771b5c49b18">Babb, Kent, and Steven Rich. “A Quietly Escalating Issue for NFL: Fan Violence and How to Contain It.” <em>The Washington Post</em>, WP Company, 28 Oct. 2016.</a>
    <br />
    [2] <a href="https://www.wpxi.com/news/top-stories/violent-confrontation-between-pittsburgh-steelers-fans-goes-viral/882483591">“STEELERS FAN FIGHT: Violent Confrontation between Pittsburgh Steelers Fans Goes Viral.” <em>WPXI</em>, 5 Dec. 2018.</a>
    <br />
    [3] <a href="https://www.sportsdestinations.com/management/safety-security/nfl-stadium-security-facing-tests-multiple-levels-15611">“NFL Stadium Security Facing Tests on Multiple Levels.” <em>Sports Destination Management.</em></a>
    <br />
    [4] <a href="http://www.jt-sw.com/football/pro/teams.nsf/histories/steelers">“Pittsburgh Steelers History.” <em>Football at JT-SW.</em></a>
    <br />
    [5] <a href="https://data.wprdc.org/dataset/arrest-data">“Pittsburgh Police Arrest Data.” <em>WPRDC.</em></a>
  </body> 
</html>
    
      

    
  
