.header {
  background: #FFF23F;
  font-family: helvetica;
  font-size: 160%;
  }
body {
  font-family: veranda;
  font-size: 130%;
  }
p {
  width: 60%;
  line-height: 1.3;
  text-indent: 60px;
  }
.shift {
  position: relative;
  left: 40px;
