.header {
  background: #FFF23F;
  font-family: helvetica;
  font-size: 160%;
  }
body {
  font-family: veranda;
  font-size: 130%;
  }
p {
  line-height: 1.3;
  position: relative; 
  padding-right: 150px;
  }
h2 {
  position: relative;
  padding-right: 100px;
  }
h3 {
  position: relative;
  padding-right: 100px;
}
