.header {
  background: #FFF23F;
  font-family: helvetica;
  font-size: 160%;
  }
body {
  font-family: veranda;
  font-size: 130%;
  }
p {
  line-height: 1.3;
  padding: 30px;
  }
h2 {
  padding: 10px;
  }
h3 {
  left: 10px;
}
